name: CI/CD Pipeline

on:
  push:
    branches: ['**']
    tags: ['*'] 

jobs:
  check_node_version:
    runs-on: ubuntu-latest
    container: node:20.18.0-alpine
    steps:
      - name: Check Node.js version
        run: |
          echo "Running on Node.js version:"
          node -v

  lint_frontend:
    needs: check_node_version
    runs-on: ubuntu-latest
    container: node:20.18.0-alpine
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        working-directory: ./frontend
        run: npm install --no-progress
      - name: Run lint
        working-directory: ./frontend
        run: npm run lint
      # - name: Run unit tests
      #   working-directory: ./frontend
      #   run: npm test

  build_frontend:
    needs: [lint_frontend]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build and push frontend image
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mustang-frontend:$TAG -f mustang59-website/mustang.Dockerfile mustang59-website/
          docker inspect ${{ secrets.DOCKER_USERNAME }}/mustang-frontend:$TAG --format='{{.Size}}'
          docker push ${{ secrets.DOCKER_USERNAME }}/mustang-frontend:$TAG

  deploy:
    needs: [build_backend, build_frontend]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: SSH and deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/mustang
            sudo ./deploy.sh ${{ github.ref_name }}